*{margin: 0; padding: 0;}
@charset "UTF-8";
body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  background: url(images/background.jpg) repeat fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}
article, aside, footer, header, main, nav, section {
  display: block;
}
html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  margin: 0;
  padding: 0;
}